 <div class="row mt-5">
    <div class="col-md-6 m-auto">
      	<div class="card card-body" id="admin_body">
				<h3>Hello <%=name%> ,</h3>
			<div class="row mt-5">
				<div class="col-md-6 m-auto">
			  		<div class="card card-body">
						<h1 class="text-center mb-3">
				  		<i class="fas fa-tools"></i> Admin tools
						</h1>
						<div class="text-center">
							<form action="/admin/games" method="GET">
								<p><button type="submit" class="btn btn-primary btn-block" >Games settings</button></p>
							</form>
							<form action="/admin/get-users" method="GET">
								<p><button type="submit" class="btn btn-primary btn-block ">Users settings</button></p>
							</form>
							<br>

						</div>
					</div>
			  </div>
			</div>
      	</div>
	</div>
</div>
