<div class="container" id="dashboard">
	<h1 class="mt-4">Dashboard</h1>
	<p class="lead mb-3">Welcome <%= name %></p>
	<% if(user.role === true){ %>
		<a href="/admin" class="btn btn-info" id="admin">Admin Panel</a>
	<% } %>
	<a href="/" class="btn btn-secondary" id="admin">Store</a>
	<a href="/users/logout" class="btn btn-secondary">Logout</a>
	
</div>
<br>
