<div class="container" id="dashboard">
	<h1 class="mt-4">Dashboard</h1>
	<p class="lead mb-3">Welcome <%= name %></p>
	<% if(user.role === true){ %>
		<a href="/admin" class="btn btn-info" id="admin">Admin Panel</a>
	<% } %>
	<a href="/" class="btn btn-secondary" >Store</a>
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
		Inventory
	  </button>
  	<a href="/users/logout" class="btn btn-secondary">Logout</a>
	
</div>
<br>


  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLongTitle">My Inventory</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>

  <script src="dashboard.js" async></script>
