<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <script src="https://kit.fontawesome.com/6cc0b677b4.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>


<body>
    <div class="top-nav-bar">
        <div class="search-box">
            <i class="fas fa-bars" id="menu-btn" onclick="openMenu()"></i>
            <i class="fas fa-times" id="close-btn" onclick="closeMenu()"></i>
            <img src="images/pngwave.png" class="logo">
            <input type="text" class="form-control">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
        <div class="menu-bar">
            <ul>
                <li>
                   <a href="#"><i class="fa fa-shopping-cart"></i>Cart</a> 
                </li>
                <li>
                    <a href="/users/register"><i class="fa fa-user-plus"></i>Sign up</a> 
                </li>
                <li>
                    <a href="/users/login"><i class="fa fa-sign-in"></i>Log in</a> 
                </li>
            </ul>
        </div>
    </div>
    <section class="header">
        <div class="side-menu" id="side-menu">
            <ul>
                <li><i class="fas fa-angle-right"></i>PC
                    <ul>
                        <li>sub menu-1</li>
                    </ul>
                </li>
                <li><i class="fas fa-angle-right"></i>Playstation
                    <ul>
                          <li>sub menu-2</li>
                    </ul>
                </li>
                <li><i class="fas fa-angle-right"></i>Xbox
                     <ul>
                            <li>sub menu-3</li>
                      </ul>
                </li>
            </ul>
        </div>

    </section>

    <!---------------New products------------------------>
    <section class="new-products">
        <div class="container">
            <div class="title-box">
                <h2>On sale</h2>
            </div>
            <!--below used to be class="row"-->
            <div class="card-deck">
                <div class="card">
                    <div class="product-top">
                       <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/e/e9/CallofDutyModernWarfare%282019%29.jpg"> 
                       <div class="overlay-right">
                           <button type="button" class="btn btn-secondary" title="Buy now">
                               <i class="far fa-credit-card"></i>
                           </button>
                           <button type="button" class="btn btn-secondary" title="Add to cart">
                            <i class="fas fa-shopping-cart"></i>
                            </button>
                       </div>
                    </div> 
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Call of duty</h3>
                        <h5>$60.00</h5>
                    </div>                       
                </div>

                <div class="card">
                    <div class="product-top">
                       <img class="card-img-top" src="https://cdn.cdkeys.com/700x700/media/catalog/product/g/r/grand_theft_auto_v_5_gta_5_pc_3.jpg"> 
                       <div class="overlay-right">
                           <button type="button" class="btn btn-secondary" title="Buy now">
                               <i class="far fa-credit-card"></i>
                           </button>
                           <button type="button" class="btn btn-secondary" title="Add to cart">
                            <i class="fas fa-shopping-cart"></i>
                            </button>
                       </div>
                    </div> 
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <h3>Grand Theft Auto V</h3>
                        <h5>$30.00</h5>
                    </div>                       
                </div>

                <div class="card">
                    <div class="product-top">
                       <img class="card-img-top" src="https://store.playstation.com/store/api/chihiro/00_09_000/container/US/en/999/UP4497-CUSA00527_00-0000000000000002/1596502438000/image?w=360&h=360&bg_color=000000&opacity=100&_version=00_09_000"> 
                       <div class="overlay-right">
                           <button type="button" class="btn btn-secondary" title="Buy now">
                               <i class="far fa-credit-card"></i>
                           </button>
                           <button type="button" class="btn btn-secondary" title="Add to cart">
                            <i class="fas fa-shopping-cart"></i>
                            </button>
                       </div>
                    </div> 
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <h3>Witcher 3</h3>
                        <h5>$40.00</h5>
                    </div>                       
                </div>
            </div>
        </div>
    </section>






    <!---------Footer---------->
    <section class="footer">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3">
                    <h1>Useful Links</h1>
                    <p>Privacy Policy</p>
                    <p>Terms of Use</p>
                    <p>Return Policy</p>
                    <p>Discount Coupons</p>
                </div>

                <div class="col-md-3">
                    <h1>Company</h1>
                    <p>About Us</p>
                    <p>Contact Us</p>
                    <p>Career</p>
                    <p>Affiliate</p>
                </div>

                <div class="col-md-3">
                    <h1>Follow us on</h1>
                    <p><i class="fa fa-facebook-official"></i>Facebook</p>
                    <p><i class="fa fa-youtube-play"></i>YouTube</p>
                    <p><i class="fa fa-twitter"></i>Twitter</p>
                    <p><i class="fa fa-linkedin"></i>Linkedin</p>
                </div>
                <div class="col-md-3 footer-image">
                    <h1>Download app</h1>
                    <img src="https://3.bp.blogspot.com/-zxXOgeQ5-0A/XD5vwB4CtTI/AAAAAAAAG4c/fFMrXH-ZFZkkVlzkgB6dvRJMUwfDgACWACK4BGAYYCw/s1600/Icons%2BApp%2BStore%2BGoogle%2Bplay.png">
                </div>

            </div>
            <hr>
            <p class="copyright"><i class="fas fa-cat"></i> Made by Dan Levy and Leead Keness</p>
        </div>



    </section>
<script>
    function openMenu(){
        document.getElementById("side-menu").style.display="block";
        document.getElementById("menu-btn").style.display="none";
        document.getElementById("close-btn").style.display="block";
    }
    function closeMenu(){
        document.getElementById("side-menu").style.display="none";
        document.getElementById("menu-btn").style.display="block";
        document.getElementById("close-btn").style.display="none";
    }
</script>
</body>


</html>