* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1a1a1a;
}

body {
  position: absolute;
  background-color: #1a1a1a;
  width: 100%;
  height: 100%;
  /*************================***************/
  background:url(https://motionarray.imgix.net/preview-175023-VqkPFjGwsC-high_0009.jpg) repeat #cfcfe6;
  display: block;
  background-attachment: fixed;
  background-size: contain;
  justify-content: center;
  align-items: center; 
}

html {
  width: 100%;
  height: 100%;
  /* background-color: #1a1a1a; */
  background:url(https://motionarray.imgix.net/preview-175023-VqkPFjGwsC-high_0009.jpg) repeat #cfcfe6;

}

.top-nav-bar {
  position: sticky;
  height: 57px;
  top: 0;
  width: 100%;
  background: #ffff;
  margin-bottom: 20px;
  z-index: 2;
}

.logo {
  height: 40px;
  margin: 20px 5px;
}

.search-box {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  /* background-color: #1a1a1a; */
  color: white;
  font-family: Courier;
  /* font-size: 35px; */
  background:url(https://motionarray.imgix.net/preview-175023-VqkPFjGwsC-high_0009.jpg) repeat #cfcfe6;

  border-bottom: 1px solid #1e90ff;
}

.search-box h3 {
  margin-top: 20px;
  font-weight: bold;
  font-size: 35px;
}

.menu-bar {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  height: 45px;
  background:url(https://motionarray.imgix.net/preview-175023-VqkPFjGwsC-high_0009.jpg) repeat #cfcfe6;

  /* background-color: #1a1a1a; */
}

.menu-bar ul {
  display: inline-flex;
  background: none;
}

.menu-bar ul li {
  list-style-type: none;
  padding: 1px 35px;
  text-align: center;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  margin-top: 5px;
  background:url(https://motionarray.imgix.net/preview-175023-VqkPFjGwsC-high_0009.jpg) repeat #cfcfe6;

}

.menu-bar ul li a {
  font-size: 20px;
  font-family: Courier;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 960px) {
  .top-nav-bar {
    height: 118px;
    border-bottom: 0;
  }
  .search-box {
    width: 100%;
  }
  .menu-bar {
    width: 100%;
  }
  .menu-bar ul {
    margin: 10px 0;
    width: 100%;
  }
  .menu-bar ul li {
    height: 57px;
    width: 100%;
  }
}

/*----------------------- Carousel ----------------------*/
.row{
  background:url(https://motionarray.imgix.net/preview-175023-VqkPFjGwsC-high_0009.jpg) repeat #cfcfe6;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.carousel {
  border: 1px solid #1e90ff;
  margin-top: 40px;
  width:100%;
  position: relative;
  margin-bottom: 35px;
  color: black;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-inner {
  position: relative;
}

.carousel-caption {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  border: 1px solid #1E90FF !important;
  margin: 8.5px 10px 3px 0 !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 20 !important;
  border-bottom-right-radius: 20 !important;
}

.carousel-item {
  height: 500px;
  text-align: center;
  /* min-height: 700px; */
  font-family: "Montserrat", sans-serif;
}

.carousel-item h5 {
  font-family: "Kufam", cursive;
  font-size: 18px;
  color: black;
  background-color: #ffffff;
  font-weight: bold;
}

.carousel-item p {
  font-family: "Kufam", cursive;
  background-color: #ffffff;
  color: black;
}

.carousel img {
  height: 500px;
  width: 100%;

}

.carousel-indicators {
  background-color: transparent;
}

.carousel ol li{
    background-color: black;
}

.carousel-indicators .active {
  background-color: red;
}

/*----------on sale-----------*/
.title-box {
  background: #1e90ff;
  color: #fff;
  width: 180px;
  padding: 4px 10px;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  font-family: Anton;
}

.title-box h2 {
  font-size: 24px;
  margin-top: 3px;
  background-color: #1e90ff;
}

.title-box::after {
  content: "";
  border-top: 40px solid #1e90ff;
  border-right: 50px solid transparent;
  position: absolute;
  display: flex;
  margin-top: -4px;
  margin-left: 170px;
}


/*************CARD***************/
.card{
    border-radius: 30px;
}

.card-deck{
    border-bottom:  1px solid #1e90ff;
    width: 100%;
}
.col-lg-3 .col-md-12 .mb-4{
    width: 400px;
    height: 400px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
  }
  
  .col-lg-3 .col-md-12 .mb-4 :hover .overlay-right{
    opacity: 1;
    transform: scale(1);
  }
  
  .overlay-right{
    position: absolute;
    background-color:transparent;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(1.3);
    opacity: 0;
    transition: transform .4s ease 0s;
  }
  
  /* .overlay-right a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 5em;
    color: #fff;
    font-family: Sans-serif;
  } */
  
  .card img{
    transition: transform .8s ease;
  }
  
  .card:hover img{
    transform: scale(1.1);
  }


/*------------product-top--------------*/
.card img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.overlay-right {
  display: block;
  opacity: 0;
  position: absolute;
  top: 10%;
  margin-left: 0;
  width: 70px;
}
 
.overlay-right .fa {
  cursor: pointer;
  background-color: #1e90ff;
  color: #1e90ff;
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding: 7px;
  margin-top: 5%;
  margin-bottom: 5%;
} 

.overlay span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 5em;
    color: #fff;
    font-family: Sans-serif;
  }
  

.overlay-right .btn-secondary {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
} 

.product-top:hover .overlay-right {
  opacity: 1;
  margin-left: 5%;
  transition: 0.5s;
}

/*-----product bottom*/
.product-bottom .fa {
  color: #1e90ff;
  font-size: 10px;
}

.product-bottom h3 {
  padding-top: 7px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: 'Comfortaa', cursive;
  
}
.product-bottom h5 {
  font-size: 15px;
  padding-bottom: 10px;
  color: white;
}

/*----------------FOOTER------------*/
.fa-cat {
    color: red;
    font-size: 15px;
  }

 .footer {
  width: 100%;
  margin-top: 10px;
  color: white;
  background:url(https://motionarray.imgix.net/preview-175023-VqkPFjGwsC-high_0009.jpg) repeat #cfcfe6;
  margin-right: 10px;
}

.footer h1 {
  font-size: 15px;
  margin: 15px 0;
}

.footer p {
  font-size: 12px;
}

.copyright {
  margin-bottom: -80px;
  text-align: center;
  font-size: 15px;
  padding-bottom: 20px;
}
.fa-cat {
  color: red;
  font-size: 15px;
}
.footer hr {
  margin-top: 10px;
  background-color: #1e90ff;
}
.footer-image img {
  width: 120px;
}

.footer .row .fa {
  padding-right: 20px;
  font-size: 15px;
}

.footer .list-unstyled list-inline text-center {
  justify-content: space-evenly;
}

/*------------------Single product----------*/
.single-product {
  margin-top: 70px;
}

.new-arrival {
  background: green;
  width: 50px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-top: 20px;
}

.col-md-7 h2 {
  color: #555;
}

.single-product .fa {
  color: #1e90ff;
}
.single-product .price {
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px;
}

.single-product .btn-primary {
  background: #1e90ff !important;
  color: white;
  font-size: 15px;
  border: none;
  box-shadow: none;
}

.single-product img {
  float: center;
  width: 400px;
  height: 500px;
}

.product-description h4 {
  margin-top: 50px;
  color: #1e90ff;
}

.product-description p {
  margin-top: 30x;
}

.product-description hr {
  margin-bottom: 50px;
}

.not_found {
  text-align: center;
}
.not_found a .btn-primary {
  background-color: #1e90ff;
  margin-top: 20px;
}
.not_found .fa-dizzy {
  color: red;
}
