*{
    margin:0;
    padding:0;
}
body{
    background-color: #f1f3f4;
    font-family: sans-serif;
}

.top-nav-bar{
    height:57px;
    top:0;
    position: sticky;
    background:#ffff;
    margin-bottom: 20px;
    border-bottom: 3px solid blue;
    z-index: 2;
}
.logo{
   height: 40px;
   margin:5px 10px; 
}
.form-control{
    margin-top: 9px;
    margin-left: 30px;
    border:1px solid blue !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}
.input-group-text{
    background:blue !important;
    border: 1px solid blue !important;
    margin: 8.5px 10px 3px 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20 !important;
    border-bottom-right-radius: 20 !important;
    cursor: pointer;
}
.search-box{
    display:inline-flex;
    width: 60%;
}

.fa-search{
    color:white;
}
.menu-bar{
    width:40%;
    height:57px;
    float:right;

}
.menu-bar ul{
    display:inline-flex;
    float:right;
}
.menu-bar ul li{
    border-left: 1px solid white;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: blue;
    cursor: pointer;
}
.menu-bar ul li a{
    font-size:16px;
    font-weight: bold;
    color:white;
    text-decoration: none;
}
.fa-shopping-cart{
    margin-right:5px;
}
.fa-user-plus{
    margin-right: 5px;
}
.fa-sign-in{
    margin-right: 5px;
}
@media only screen and (max-width:980px){
    .top-nav-bar{
        height:118px;
        border-bottom:0;
    }
    .search-box{
        width:100%;
    }
    .menu-bar{
        width:100%;
    }
    .menu-bar ul{
        margin: 10px 0;
        width:100%;
    }
    .menu-bar ul li{
        height: 57px;
        width:100%;
    }
}

/* -----------side menu-------*/
.side-menu{
    height:79%;
    width: 15%;
    font-size:14px;
    float:left;
    z-index:2;
    background-color: gray;

}
.side-menu ul{
    margin-left:10px;

}
.side-menu ul li{
    list-style-type: none;
    font-weight: bold;
    margin-top: top 10px;
    cursor: pointer;
}
.side-menu ul li:hover{
    color:blue;
}
.side-menu ul li ul{
    display:none;
    z-index: 10;
    top: 77px;
}
.side-menu ul li:hover ul{
    display:block;
    height: 400px;
    margin-left: 14%;
    padding: 0 100px 10px 10px;
    position:fixed;
    background: gray;
    box-shadow:1px 1px 4px 1px rgba(0,0,0,0.5);
}
.fa-angle-right{
    margin-top: 4px;
    margin-right:8px;
    float:right;
}

#menu-btn,#close-btn{
    font-size:30px;
    margin:10px;
    color:blue;
    display:none;
}

@media only screen and (max-width:980px){
    .side-menu{
        width:  34%;
        z-index:    20;
        top:    133px;
        position:   fixed;
        font-size:  12px;
        display:none;

    }
    .side-menu ul li ul{
        top:133px;
    }
    .side-menu ul li:hover ul{
        margin-left:31%;
    }
    #menu-btn{
        display: block;
    }

}


/*
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    font:   1.6rem Helvetica,Arial;
    margin: 0 ;
}
.grid-container{
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height:100%

}
header{
    grid-area: header;
    background-color: dimgray;
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
header a{
    color:white;
    font-weight: bold;
    text-decoration: none;
}
header a:hover{
    color:cornflowerblue;
}
.brand a{
    font-size: 3rem;
}
footer{
    background-color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
*/
/* Products */

